@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  user-select: none;
  font-family: 'Comfortaa';
 }

@font-face {
  font-family: 'Comfortaa';
  src: url("Comfortaa-VariableFont_wght.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}

.overflow-y-auto::-webkit-scrollbar{
  display: none;
}
.overflow-x-auto::-webkit-scrollbar{
  display: none;
}

 input:focus {
  outline: none ;
}

@custom-variant dark (&:where(.dark, .dark *))


